@font-face {
  font-family: nazi;
  font-weight: 200;
  src: url(../fonts/Nazanin.TTF);
}

@font-face {
  font-family: nazi;
  font-weight: 400;
  src: url(../fonts/Nazanin_Bold.TTF);
}

* {
  box-sizing: border-box;
  color: #333;
  font-family: nazi;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.Error {
  color: #ff0000;
  font-size: 1rem;
}

.color-red {
  color: rgb(223, 24, 24) !important;
}

.login input,
.regester input,
.contact-us input {
  font-size: 20px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 18px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #00bf6f;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #00bf6f;
}

body {
  margin: 0;
  direction: rtl;
  position: relative;
}

.container {
  width: 100%;
  padding: 0 60px;
}

.col-4 {
  width: 25%;
  height: auto;
  float: right;
  padding: 15px;
  position: relative;
}

.drop-down-icon {
  width: 8px;
  height: 8px;
  background: url(../images/icons/drop-down-icon.svg) center no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: -1px;
  margin-right: 5px;
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.p-15 {
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 1px 2px #bbb;
}

.header-logo {
  float: right;
  padding-top: 6px;
}

.header-logo img {
  width: 50px;
  height: auto;
}

.hamber-menu {
  background-color: transparent;
  border: none;
  display: none;
}

.hamber-menu-click {
  display: none;
  width: 100%;
  height: 300px;
  background-color: #222;
  opacity: 0.95;
}

.header-nav {
  float: right;
  margin-right: 30px;
}

.header-nav > li {
  display: inline-block;
  padding: 20px 10px;
  position: relative;
}

.header-nav > li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #5decb0;
  display: block;
  transform: scale(0);
  transition: all ease 200ms;
  bottom: 10px;
  border-radius: 10px;
}

.header-nav > li:hover::after {
  transform: scale(1);
}

.header-nav li span {
  cursor: pointer;
}

.drop-down-menu {
  position: absolute;
  width: 150px;
  height: auto;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 3px #777;
}

.drop-down .drop-down-menu {
  display: none;
}

.drop-down:hover .drop-down-menu {
  display: block;
}

.drop-down-menu li {
  font-size: 16px;
  padding: 10px;
}

.drop-down-menu li a {
  display: block;
}

.drop-down-menu li:hover {
  background-color: #eee;
}

.login-btn {
  background-color: #0080ff;
  color: #fff;
  border: none;
  padding: 9px 12px;
  margin: 14px 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  float: left;
}

.icon-shop {
  width: 35px;
  height: auto;
  float: left;
  margin: 15px;
  position: relative;
  cursor: pointer;
}

.icon-shop-num {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #29c276;
  position: absolute;
  left: 185px;
  top: 5px;
  display: flex;
}

.icon-shop-num-p {
  color: #000;
  font-size: 24px;
  margin: -4px 7px 0 0;
}

.main-hamber {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #222;
  top: -2px;
  align-items: center;
}

.main-hamber a {
  color: #ccc;
  padding: 18px 35px;
}

.main-hamber a:hover {
  background-color: #777;
}

/* page intro */

.page-intro {
  background: rgb(0, 232, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 232, 255, 1) 0%,
    rgba(3, 126, 255, 1) 100%
  );
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.page-intro-right {
  width: 50%;
  height: auto;
  float: right;
  text-align: right;
}

.page-intro-right h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
}

.page-intro-right-btns {
  margin: 0 auto;
  width: 300px;
  animation: btn linear 3.5s 1.5s both;
}

.page-intro-right-btn {
  color: #fff;
  background-color: transparent;
  border: solid 2px #fff;
  width: 130px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  float: right;
  margin-left: 8px;
  cursor: pointer;
}

.page-intro-left {
  width: 50%;
  height: auto;
  float: right;
}

.page-intro-left img {
  width: 100%;
  height: auto;
}

.new-posts h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
}

.new-post-card {
  width: 100%;
  height: 335px;
  box-shadow: 0 1px 2px;
  background-color: #fff;
}

.new-post-pic {
  width: 100%;
  height: 250px;
  position: relative;
}

.new-post-pic::after {
  content: "مشاهده گالری";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 250px;
  transform: scale(0);
  transition: all 200ms ease;
  border-radius: 5px;
  color: #ddd;
  opacity: 0.8;
  background-color: #222;
  font: 1.5rem bold;
}

.new-post-pic:hover::after {
  transform: scale(1);
}

.new-post-pic img {
  width: 100%;
  height: 100%;
}

.new-post-pic img:hover {
  animation: roteat 1.5s ease both;
}

.more-info {
  width: 150px;
  height: 50px;
  background-color: #000;
  position: absolute;
  color: #bbb;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  top: 112px;
  left: 145px;
  border-radius: 10px;
}

.new-post-body {
  padding: 10px;
}

.new-post-title {
  margin: 0;
  float: right;
  font-weight: 400;
  font-size: 18px;
}

.new-post-price {
  margin: 0;
  float: left;
  color: #777;
  font-size: 14px;
  text-decoration: line-through;
}

.new-post-description {
  margin: 0;
  float: right;
  font-size: 16px;
}

.new-post-price-off {
  margin: 0;
  float: left;
  font-size: 16px;
}

.new-post-add {
  width: 100.5%;
  height: 50px;
  background: #29c276;
  margin: 36px -1px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.new-post-add h2 {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.home-ad {
  padding-top: 70px;
}

.home-ad-right {
  width: 75%;
  height: 300px;
  float: right;
  padding: 15px;
}

.home-ad-right img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.home-ad-left {
  width: 25%;
  height: 300px;
  float: left;
  padding: 15px;
}

.home-ad-left img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  animation: anime 1.5s 3s forwards;
}

@keyframes anime {
  0% {
    width: 0%;
    height: 0%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

/*  */

.most-sales {
  background-color: #d9f1ff;
  padding: 50px 0;
  margin: 65px 0;
}

.most-sales h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.most-sales-item {
  float: right;
  width: calc(100% / 3);
  height: 350px;
  padding: 15px;
}

/*  */

.why-us {
  padding: 30px 0;
}

.why-us-card {
  width: 100%;
  height: auto;
  text-align: center;
}

.why-us-card img {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

.why-us-card h4 {
  font-weight: 400;
  font-size: 18px;
}

.why-us-card p {
  font-size: 16px;
  color: #666;
}

/* footer */

.main-foter {
  width: 100%;
  height: auto;
  background-color: #333;
  padding: 20px 0;
}

.main-footer-f-l {
  width: 30%;
  height: auto;
  float: right;
  padding: 15px;
}

.main-footer-card h4 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.main-footer-card p {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
}

.main-footer-mid {
  width: 20%;
  height: auto;
  float: right;
  padding: 15px;
}

.main-footer-card li {
  margin-bottom: 3px;
}

.main-footer-card a {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
}

.main-footer-card a:hover {
  color: #00bf6f;
  font-size: 22px;
}

.main-footer-card span {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
}

.main-footer-card-namad img {
  width: 100px;
  height: 120px;
}

.footer-line {
  border-color: #7f7f7f;
}

.under-footer {
  text-align: right;
  padding-top: 20px;
}

.under-footer p {
  color: #fff;
  font-size: 16px;
  display: inline-block;
}

.footer-social-item {
  float: left;
}

.footer-social-item img {
  width: 30px;
  height: auto;
  margin-right: 3px;
}

.footer-social-item img:hover {
  background-color: #00bf6f;
  border-radius: 5px;
}

/* single.html */

.breadcrumbs {
  padding: 15px 0;
  background-color: #eee;
}

.breadcrumbs a {
  color: #777;
}

.breadcrumbs span {
  color: #777;
}

.breadcrumbs a::after {
  content: "";
  display: inline-block;
  background: url(../images/icons/left-arrow.svg);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  vertical-align: -1px;
}

.single-product {
  padding-top: 40px;
  padding-bottom: 30px;
}

.single-product-right {
  float: right;
  width: 50%;
  height: auto;
}

.single-product-pic {
  border: 1px solid #aaa;
  width: 400px;
  margin: auto;
}

.single-product-pic img {
  width: 100%;
  height: auto;
}

.single-product-left {
  float: right;
  width: 50%;
  height: auto;
}

.single-product-body h1 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
}

.single-product-price p {
  font-weight: 400;
}

.single-product-price span {
  color: #777;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.single-product-sizes {
  margin-bottom: 15px;
}

.single-product-sizes p {
  margin-bottom: 15px;
  font-weight: 400;
}

.single-producy-size {
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding-top: 7px;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 20px;
}

.single-product-props p {
  font-weight: 400;
}

.single-product-props {
  margin-bottom: 15px;
}

.single-producy-description {
  margin-bottom: 15px;
}

.single-producy-description span {
  font-weight: 400;
}

.single-producy-description p {
  width: 75%;
  color: #ddd;
}

.single-product-btn button {
  background: #00bf6f;
  border: none;
  width: 200px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.single-comments {
  padding: 30px 0;
}

.single-comments h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.single-comment {
  background-color: #f9fafb;
  height: auto;
  padding: 0 15px;
  padding-bottom: 20px;
}

.single-comment-item {
  display: block;
  padding: 32px 75px 20px 0;
  border-bottom: 1px #aaa solid;
  position: relative;
  height: auto;
}

.single-comment-item:last-child {
  border: none;
}

.single-cooment-name-date {
  margin-bottom: 10px;
}

.single-cooment-name-date span {
  color: #777;
}

.single-cooment-name-date span:first-child {
  margin-left: 30px;
  color: #222;
  font-weight: 400;
}

.single-comment-item img {
  width: 50px;
  height: auto;
  position: absolute;
  right: 15px;
  top: 20px;
}

.single-cooment-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.single-cooment-state {
  color: #00cc66;
  font-size: 22px;
}

/* contactUs */

.contact-us {
  padding-top: 30px;
}

.contact-us h1 {
  margin-bottom: 20px;
  font-size: 26px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.contact-inputs {
  width: 50%;
  margin-bottom: 10px;
}

.contact-inputs label {
  display: block;
  margin-bottom: 5px;
  color: #777;
}

.contact-inputs input {
  width: 100%;
  padding: 10px;
  border: 1px #ccc solid;
  border-radius: 3px;
  outline: none;
}

.contact-message {
  width: 100%;
  margin-bottom: 20px;
}

.contact-message label {
  display: block;
  margin-bottom: 5px;
  color: #777;
}

.contact-message textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ccc solid;
  border-radius: 3px;
  outline: none;
  min-height: 150px;
}

.contact-btn input {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #0080ff;
  padding: 7px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.contact-us hr {
  border: 1px solid #ccc;
  margin: 30px 15px;
}

.contact-info {
  padding-bottom: 30px;
}

.contact-info h2 {
  margin-bottom: 10px;
}

.contact-info-right {
  width: 50%;
  height: auto;
}

.contact-info-right address {
  font-size: 20px;
}

.contact-info-right p {
  font-size: 20px;
}

.contact-info-left {
  width: 50%;
  height: auto;
  padding: 0 100px;
}

.contact-info-left img {
  width: 100%;
  height: auto;
}

/* panel */

.main-panel {
  padding-top: 60px;
}

.main-panel header {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 3px #ccc;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 99991;
}

.panel-head {
  display: flex;
  justify-content: space-between;
}

.panel-head p {
  padding-top: 15px;
}

.user-name {
  padding-top: 10px;
}

.user-name img {
  width: 40px;
}

.user-name span {
  vertical-align: 16px;
  margin-left: 5px;
}

.panel-body {
  padding-right: 240px;
}

.panel-body-content {
  padding: 20px;
}

.panel-body-content h1 {
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  font-size: 26px;
  margin-bottom: 20px;
}

.setting-inputs {
  margin-bottom: 20px;
}

.setting-inputs label {
  display: block;
  margin-bottom: 5px;
}

.setting-inputs input[type="text"] {
  width: 250px;
  padding: 5px;
  border: 1px #ccc solid;
  outline: none;
  border-radius: 3px;
}

.panel-submit {
  background-color: #0080ff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
}

.panel-sidbar {
  position: fixed;
  background-color: #222;
  height: 100%;
  width: 240px;
  top: 0;
  right: 0;
  z-index: 9999;
  padding-top: 100px;
  overflow: auto;
}

.panel-sidbar-pic {
  background-color: #fff;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-sidbar-pic img {
  width: 60%;
  height: 60%;
}

.panel-sidbar-menu {
  padding-right: 40px;
  padding-top: 40px;
}

.panel-sidbar-menu ul li {
  margin-bottom: 15px;
}

.panel-sidbar-menu ul li a {
  color: #fff;
}

.panel-sidbar-menu ul li i {
  width: 20px;
  height: 20px;
  background-size: cover !important;
  display: inline-block;
  vertical-align: -5px;
  margin-left: 3px;
}

.panel-sidbar-little {
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #222;
  z-index: 9999;
  padding-top: 100px;
  display: none;
  text-align: center;
}

.panel-sidbar-little img {
  width: 40px;
  height: auto;
  margin-bottom: 40px;
}

.panel-sidbar-little li {
  text-align: center;
  margin-bottom: 10px;
}

.panel-sidbar-little i {
  width: 20px;
  height: 20px;
  background-size: cover !important;
  display: inline-block;
}

/* categroy */

.categroy-sec {
  padding: 30px 0;
}

.cat-flex {
  display: flex;
}

.cat-content {
  width: 75%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.cat-col-post {
  width: calc(100% / 3);
  padding: 0 15px;
  margin-bottom: 15px;
}

.cat-sidbar {
  width: 25%;
  height: auto;
  padding: 15px;
}

.cat-saidbar-filters {
  background-color: #fff;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 3px #bbb;
}

.cat-sidbar-boxses {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px #ccc solid;
}

.cat-sidbar-boxses:last-child {
  border-bottom: none;
}

.cat-sidbar-boxses h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}

.cat-sidbar-boxses ul li {
  padding-right: 5px;
  padding: 5px 5px 5px 0;
}

.cat-sidbar-boxses ul li label {
  color: #777;
  vertical-align: 3px;
  margin-right: 5px;
}

.pagination {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-item {
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 3px #bbb;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.pagination-item-selected {
  background-color: #0080ff;
}

.pagination-item-selected span {
  color: #fff;
}

/* about-us */

.about-us {
  width: 100%;
  height: 400px;
  display: flex;
  padding-top: 30px;
}

.about-us-right {
  width: 50%;
  height: auto;
  padding-right: 50px;
}

.about-us-right h1 {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 400;
}

.about-us-right p {
  font-size: 20px;
  margin-bottom: 50px;
}

.about-us-left img {
  width: 600px;
  height: auto;
}

.about-us-left {
  width: 50%;
  height: auto;
}

/* login */

.login,
.regester {
  width: 50%;
  height: 450px;
  background: linear-gradient(
    90deg,
    rgba(0, 232, 255, 1) 0%,
    rgba(3, 126, 255, 1) 100%
  );
  display: flex;
  margin: auto;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.regester {
  display: none;
}

.login input[type="text"],
.regester input[type="text"] {
  width: 450px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 3px solid #000;
  margin: 0 0 30px 0;
}

.login input[type="email"],
.regester input[type="email"] {
  width: 450px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 3px solid #000;
  margin: 0 36px 30px 0;
}

.login input[type="password"],
.regester input[type="password"] {
  width: 450px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 3px solid #000;
  margin: 0 12px 30px 0;
}

.login label,
.regester label {
  font-size: 24px;
  font-weight: bold;
}

.login input[type="submit"],
.regester input[type="submit"] {
  background-color: #29c276;
  width: 550px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  border: 3px solid #fff;
  /* margin-right: 12px; */
  color: #fff;
  font: 24px bold;
  cursor: pointer;
}

.login p,
.regester p {
  color: #ff0000;
  margin: 25px 90px 0 90px;
  font: 18px bold;
  display: inline-block;
  cursor: pointer;
}

.login p:last-child,
.regester p:last-child {
  color: #000;
  margin: 25px 90px 0 0;
  border: #fff solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
}

.userNameError,
.userPasswordError{
  font-size: 18px;
  color: red;
  display: block;
  margin: -15px;
  text-align: center;
}

@media screen and (min-width: 1150px) {
  body {
    max-width: 1900px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1150px) {
  .col-4 {
    width: 50%;
  }

  .new-post-card {
    margin: 30px 0;
  }

  .container {
    padding: 0 220px;
  }

  .home-ad-left {
    display: none;
  }

  .home-ad-right {
    width: 100%;
  }

  .most-sales-item {
    width: 50%;
  }

  .main-footer-f-l {
    width: 50%;
  }

  .main-footer-mid {
    width: 50%;
  }

  .page-intro-right {
    width: 100%;
    text-align: center;
  }

  .page-intro-left img {
    display: none;
  }

  .single-product-right {
    width: 100%;
  }

  .single-product-left {
    width: 100%;
    margin-bottom: 30px;
  }

  .single-product-pic {
    width: 100%;
    text-align: center;
  }

  .single-product-pic img {
    width: 400px;
  }

  .header-nav > li {
    padding: 20px 7px;
  }

  .contact-info-left {
    padding: 0;
  }

  .cat-flex {
    flex-direction: column;
  }

  .cat-sidbar {
    width: 100%;
  }

  .cat-content {
    width: 100%;
  }

  .cat-col-post {
    width: 50%;
  }

  .cat-saidbar-filters {
    display: flex;
    flex-wrap: wrap;
  }

  .cat-sidbar-boxses {
    width: 50%;
    margin: 0;
    padding: 15px;
    border: none;
  }

  .about-us {
    margin-top: 200px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-us-left img {
    width: 500px;
    height: auto;
  }

  .icon-shop-num {
    margin-left: 162px;
  }

  .login,
  .regester {
    margin-top: 70px;
  }
  .login input[type="text"],
  .regester input[type="text"] {
    width: 400px;
    height: 50px;
  }

  .login input[type="email"],
  .regester input[type="email"] {
    width: 400px;
    height: 50px;
  }

  .login input[type="password"],
  .regester input[type="password"] {
    width: 400px;
    height: 50px;
  }
  .login input[type="submit"],
  .regester input[type="submit"] {
    width: 500px;
  }
  .page-intro {
    display: flex;
    justify-content: center;
  }
  .page-intro-right-btns {
    margin: 0 auto;
    width: 300px;
    animation: btn linear 3.5s 1.5s reverse;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 40px;
  }

  .icon-shop-num {
    margin-left: -15px;
  }

  .login,
  .regester {
    width: 60%;
  }
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0 40px;
  }

  .page-intro-right {
    width: 100%;
    text-align: center;
  }

  .page-intro-left img {
    display: none;
  }

  .icon {
    margin: 19px 5px;
    width: 28px;
  }

  .single-product-pic {
    text-align: center;
  }

  .about-us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .icon-shop-num {
    margin-left: -15px;
  }

  .login,
  .regester {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .header-nav {
    margin-right: 0;
  }

  .login input[type="text"],
  .regester input[type="text"] {
    width: 350px;
    height: 50px;
  }

  .login input[type="email"],
  .regester input[type="email"] {
    width: 350px;
    height: 50px;
  }

  .login input[type="password"],
  .regester input[type="password"] {
    width: 350px;
    height: 50px;
  }

  .login label,
  .regester label {
    font-size: 24px;
    font-weight: bold;
  }

  .login input[type="submit"],
  .regester input[type="submit"] {
    background-color: #29c276;
    width: 380px;
    height: 50px;
    margin-right: 60px;
  }

  .login p,
  .regester p {
    color: #ff0000;
    margin: 25px 50px 0 90px;
    font: 18px bold;
    display: inline-block;
    cursor: pointer;
  }

  .login p:last-child,
  .regester p:last-child {
    color: #000;
    margin: 25px 0 0 0;
    border: #fff solid 2px;
    border-radius: 5px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 650px) {
  .col-4 {
    width: 100%;
  }

  .container {
    padding: 0 90px;
  }

  .most-sales-item {
    width: 100%;
  }

  .header nav {
    display: none;
  }

  .header-logo {
    display: none;
  }

  .hamber-menu {
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
  }

  .main-footer-f-l {
    width: 100%;
  }

  .main-footer-mid {
    width: 100%;
  }

  .page-intro-right {
    width: 100%;
    text-align: center;
  }

  .page-intro-left img {
    display: none;
  }

  .single-product-pic {
    text-align: center;
  }

  .row {
    flex-direction: column;
  }

  .flex-column {
    flex-direction: column-reverse;
  }

  .contact-inputs {
    width: 100%;
  }

  .contact-info-right,
  .contact-info-left {
    width: 100%;
  }

  .panel-sidbar {
    display: none;
  }

  .panel-sidbar-little {
    display: block;
  }

  .panel-body {
    padding-right: 60px;
  }

  .icon-shop-num {
    margin-left: 35px;
  }

  .login label,
  .regester label {
    display: block;
  }

  .login p:last-child {
    margin-right: 0;
  }

  .login input[type="text"],
  .login input[type="password"],
  .regester input[type="text"],
  .regester input[type="password"],
  .login input[type="email"],
  .regester input[type="email"] {
    margin: 0 0 10px 0;
  }

  .login input[type="submit"],
  .regester input[type="submit"] {
    background-color: #29c276;
    margin: 15px -15px 0 0;
  }
}

@media screen and (max-width: 560px) {
  .cat-col-post {
    width: 100%;
  }
  .page-intro-right-btns {
    margin: 0 auto;
    width: 300px;
    animation: btn-500 linear 3.5s 1.5s reverse;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .col-4 {
    width: 100%;
  }

  .container {
    padding: 0 90px;
  }

  .single-product-pic {
    text-align: center;
  }

  .main-hamber a {
    font-size: 14px;
    padding: 18px 30px;
  }

  .login input[type="text"],
  .login input[type="password"],
  .regester input[type="text"],
  .regester input[type="password"],
  .login input[type="email"],
  .regester input[type="email"] {
    margin: 0 0 10px 0;
    width: 260px;
    height: 35px;
    border: 1px solid #000;
  }

  .login label,
  .regester label {
    font-size: 17px;
    margin-right: 0;
  }

  .login input[type="submit"],
  .regester input[type="submit"] {
    width: 270px;
    height: 45px;
    margin: 15px -6px 0 0;
  }

  .login p,
  .regester p {
    font-size: 16px;
    margin: 25px 0 0 40px;
  }
}

@media screen and (max-width: 430px) {
  .col-4 {
    width: 100%;
  }

  .container {
    padding: 0 50px;
  }

  .single-product-pic {
    text-align: center;
  }

  .single-product-pic img {
    width: 272px;
  }

  .single-product-btn button {
    width: 100%;
  }

  .main-hamber a {
    padding: 18px 25px;
    font-size: 12px;
  }

  .icon-shop-num {
    margin-left: -10px;
  }

  .login,
  .regester {
    margin-top: 10px;
  }
}

@media screen and (max-width: 360px) {
  .col-4 {
    width: 100%;
  }

  .container {
    padding: 0 10px;
  }

  .single-product-pic {
    text-align: center;
  }

  .single-product-pic img {
    width: 250px;
  }

  .single-product-btn button {
    width: 100%;
  }

  .setting-inputs input[type="text"] {
    width: 220px;
  }

  .main-hamber a {
    padding: 18px 20px;
  }

  .icon-shop-num {
    margin-left: -45px;
  }

  .login input[type="text"],
  .login input[type="password"],
  .regester input[type="text"],
  .regester input[type="password"],
  .login input[type="email"],
  .regester input[type="email"] {
    margin: 0 0 10px 0;
    width: 220px;
    height: 35px;
    border: 1px solid #000;
  }

  .login label,
  .regester label {
    font-size: 17px;
    margin-right: 0;
  }

  .login input[type="submit"],
  .regester input[type="submit"] {
    width: 230px;
    height: 35px;
    margin-top: 13px;
  }

  .login p,
  .regester p {
    font-size: 16px;
    margin: 25px 5px 0 20px;
  }

  .login,
  .regester {
    margin-top: 50px;
  }
}
@keyframes btn {
  40% {
    width: 50%;
    height: 50%;
  }

  50% {
    width: 60%;
    height: 60%;
  }

  70% {
    width: 80%;
    height: 90%;
  }

  90% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes btn-500 {
  0% {
    margin-left: 0px;
  }
  5% {
    margin-left: 5px;
  }
  10% {
    margin-left: 10px;
  }
  20% {
    margin-left: 20px;
  }
  30% {
    margin-left: 30px;
  }
  40% {
    margin-left: 40px;
  }
  50% {
    margin-left: 40px;
  }
  60% {
    margin-left: 30px;
  }
  70% {
    margin-left: 20px;
  }
  80% {
    margin-left: 10px;
  }
  90% {
    margin-left: 0px;
  }
  100% {
    margin-left: -40px;
  }
}
